@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Chivo Mono", monospace;
    height: 100vh;
    width: 100vw;
    background: #33333d;
    overflow: hidden;
}

.bg {
    position: absolute;
    width: 100%;
    padding: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background: linear-gradient(
        180deg,
        #33333d 10%,
        #1eb980,
        #1eb980,
        #33333d,
        #007d51,
        #005d57
    );
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.842);
    z-index: 4;
    padding: 2vh 7vh;
    box-sizing: border-box;
}

.overlay-main {
    background: #373740;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    box-sizing: border-box;
}

.overlay-main-row {
    display: flex;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

.overlay-main-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.overlay-content-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #ededed;
}

.overlay-content-row h4 {
    font-weight: 200;
}

.nav {
    position: fixed;
    width: 325px;
    height: 96%;
    top: 2%;

    background: #373740;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);

    padding: 2rem 1rem 3rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    overflow-y: hidden;
    scroll-behavior: smooth;
}

.nav::before {
    content: "";
    position: fixed;
    height: 50px;
    width: 325px;
    z-index: 1;
    background: linear-gradient(180deg, #373740, #37374000);
    top: 2vh;
    left: 2vh;
    border-radius: 10px;
}

.nav::after {
    content: "";
    position: fixed;
    height: 60px;
    width: 325px;
    z-index: 1;
    background: linear-gradient(0deg, #373740, #37374018);
    bottom: 2vh;
    left: 2vh;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(237, 237, 237, 0.5);
    border: 7px solid transparent;
    border-radius: 20px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(237, 237, 237, 0.7);
}

.title_main {
    all: unset;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(45deg, #1eb980, #1eb980, #005d57);
    color: #ededed;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.title_main h1 {
    all: unset;
    font-weight: 400;
    font-size: 35px;
}

.title_main h4 {
    all: unset;
    font-weight: 400;
    font-size: 15px;
}

.nav-el {
    color: #ededed;
}

.el-name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0.5rem;
}

.el-name:hover {
    opacity: 0.5;
}

.el-name h4 {
    all: unset;
    font-size: 25px;
    font-weight: 400;
}

.el-name svg {
    height: 25px;
    transform: rotateY(180deg);
}

.el-ul {
    user-select: none;
}

.el-ul a {
    text-decoration: none;
    color: #ededed;
}

.el-ul li {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.el-ul li:hover {
    opacity: 0.5;
}

.ul-inactive {
    display: none;
}

.ul-li-active {
    background: linear-gradient(45deg, #1eb980, #1eb980, #005d57);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.buttons {
    position: fixed;
    width: 325px;
    bottom: 1vh;
    left: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    z-index: 3;
}

.button {
    all: unset;
    background: linear-gradient(45deg, #1eb980, #1eb980, #005d57);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition: scale 0.1s ease;
}

.hide-button {
    opacity: 0;
    cursor: default;
}

.button svg {
    height: 30px;
}

.button:hover {
    scale: 1.1;
}

.button:active {
    scale: 0.9;
}

.button-home {
    animation: animation-home 0.2s linear forwards;
}

@keyframes animation-home {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.button-disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
}

.button-disabled:hover {
    scale: 1;
}

.button-disabled:active {
    scale: 1;
}

.button-animation1 {
    animation: animation1 0.1s linear forwards;
}

.button-animation2 {
    animation: animation2 0.1s linear forwards;
}

@keyframes animation1 {
    0% {
        scale: 1;
    }
    50% {
        scale: 0.9;
    }
    100% {
        scale: 1;
    }
}

@keyframes animation2 {
    0% {
        translate: 0px;
    }
    25% {
        translate: -5px;
    }
    75% {
        translate: 5px;
    }
    100% {
        translate: 0px;
    }
}

.main {
    width: 100%;
    margin-left: 350px;
    scroll-behavior: smooth;
}

.main-inner {
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 4vh;
}

.inner-outer-section {
    display: flex;
    flex-direction: column;
}

.inner-section {
    position: relative;
    height: 96vh;
    width: 100%;
    margin-bottom: 2vh;
    background: #373740;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
    color: #ededed;
    padding: 3rem 2rem;
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.text_container {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(45deg, #1eb980, #1eb980, #005d57);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2rem;
    box-sizing: border-box;
}

.h1 {
    font-size: 30px;
    font-weight: 800;
}

.h2 {
    font-size: 25px;
    font-weight: 800;
}

.h3 {
    font-size: 25px;
}

.h4 {
    font-size: 20px;
}

.text_middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.anchor {
    position: absolute;
    top: -2vh;
}

.img_hidden span {
    filter: blur(3px) grayscale(80%);
    transition: filter 0.2s ease;
    border-radius: 10px;
}

.img_hidden span:hover {
    filter: blur(0) grayscale(0%);
}
